.hero-heading {
    font-size: 50px;
    padding-top: 50px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img-hover a img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform: scale(1.20); /* Firefox */
    -ms-transform: scale(1.20); /* IE 9 */
    -o-transform: translatZ(0) scale(1.20); /* Opera */
    transform: translatZ(0) scale(1.20);
}

.grayscale {
    -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
    -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
    filter: brightness(1.10) grayscale(100%);
}

.cover {
    background-size: cover;
}

.col-md-6 a {
    height: 40%;
    width: 40%;
}

.courseitem {
    overflow: hidden;
    border-style: solid !important;
    border-width: 0.1px;
    padding-bottom: 10px;
    hight: 380px;
    width: 260px;
}

h1 {
    text-align: center;
}

.facebook-img {
    margin-left: 25%;
}

.p {
    text-align: center;
}

.carousel-control {
    padding-top: 10%;
    width: 5%;
}

.star-rating {
    display: inline-block;
}

.students {
    display: inline-block;
}

.block_content {
    padding-left: 5px;
    padding-right: 5px;
}

.user-image {
    display: inline-block;
}

.course_instructor {
    display: inline-block;
    padding-left: 10px;
}

.col_half {
    width: 49%;
}

.col_third {
    width: 32%;
}

.col_fourth {
    width: 23.5%;
}

.col_fifth {
    width: 18.4%;
}

.col_sixth {
    width: 15%;
}

.col_three_fourth {
    width: 74.5%;
}

.col_twothird {
    width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
    position: relative;
    display: inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.end {
    margin-right: 0 !important;
}

/* Column Grids End */

.wrapper {
    width: 720px;
    position: relative;
    margin-left: 8%
}

.counter {
    background-color: #ffffff;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
