.container #myModal .modal-dialog .modal-content .form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.container #myModal .modal-dialog .modal-content .form .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.container #myModal .modal-dialog .modal-content .form .tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.container #myModal .modal-dialog .modal-content .form .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #B34361;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.container #myModal .modal-dialog .modal-content .form .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}

.container #myModal .modal-dialog .modal-content .form .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}


.container #myModal .modal-dialog .modal-content .form .tab-content .active a > div:last-child {
    display: none;
}

.container #myModal .modal-dialog .modal-content .form .tab-content #signup h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

.container #myModal .modal-dialog .modal-content .form label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 50px !important;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.container #myModal .modal-dialog .modal-content .form label.active {
    transform:translateY(50px) !important;
    left:2px !important;
    font-size:14px !important;
}

container #myModal .modal-dialog .modal-content .form label .req {
    margin: 2px;
    color: #1ab188;
}

.container #myModal .modal-dialog .modal-content .form label.active .req {
    opacity: 0;
}

.container #myModal .modal-dialog .modal-content .form label.highlight {
    color: #ffffff;
}

.container #myModal .modal-dialog .modal-content .form input, textarea {
    font-size: 22px;
    display: block;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.container .modal .modal-dialog .modal-content .form input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.container #myModal .modal-dialog .modal-content .form .tab-content #signup form .top-row {
    content: "";
    display: table;
    clear: both;
}

.container #myModal .modal-dialog .modal-content .form .tab-content #signup form .top-row > div{
    float: left;
    width: 48%;
    margin-right: 4%;
}

.container #myModal .modal-dialog .modal-content .form .tab-content #signup form .top-row > div:last-child {
    margin: 0;
}

.container #myModal .modal-dialog .modal-content .form .tab-content .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    display: block;
    width: 100%;
}

.container #myModal .modal-dialog .modal-content .form .tab-content #signup form  .button:hover, .button:focus{
    background: #179b77;
}

.container #myModal .modal-dialog .modal-content .form .forgot {
    margin-top: -20px;
    text-align: right;
}
