<div th:fragment="footer">
    <hr/>
    <div>
        <p style="display: inline; float:left;">
            Spring Guru
        </p>
        <p style="display: inline; float:right;">
            &copy; 2016 Dinh Man. All rights reserved
        </p>
    </div>
</div>


