<nav class="navbar navbar-inverse" th:fragment="nav-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" onclick="nav_open()">Browse course
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Become teacher</a></li>
            <th:block th:switch="${session.user}">
                <th:block th:case="null">
                    <li class="active"><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                </th:block>
                <th:block th:case="*">
                    <li class="active"><a href="#">My courses</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <th:block th:switch="${session.user.avatar}">
                                <th:block th:case="null">
                                    <div>
                                        <img th:case="false" th:src="@{'/resources/image/user/anonymous.png'}"
                                             height="50px" width="50px"/>
                                    </div>
                                    <span class="caret"></span>
                                </th:block>
                                <th:block th:case="*">
                                    <div th:switch="${#strings.startsWith(session.user.avatar,'http')}">
                                        <img th:case="true" th:src="@{${session.user.avatar}}" height="50px"
                                             width="50px"/>
                                        <img th:case="false"
                                             th:src="@{'/resources/image/user/' + ${session.user.avatar}}"
                                             height="50px" width="50px"/>
                                    </div>
                                    <span class="caret"></span>
                                </th:block>
                            </th:block>
                        </a>
                        <ul class="dropdown-menu">
                            <th:block th:switch="${session.user.avatar}">
                                <th:block th:case="null">
                                    <div>
                                        <img th:case="false" th:src="@{'/resources/image/user/anonymous.png'"
                                             height="50px" width="50px"/>
                                    </div>
                                    <span class="caret"></span>
                                </th:block>
                                <th:block th:case="*">
                                    <div th:switch="${#strings.startsWith(session.user.avatar,'http')}">
                                        <img th:case="true" th:src="@{${session.user.avatar}}" height="50px"
                                             width="50px"/>
                                        <img th:case="false"
                                             th:src="@{'/resources/image/user/' + ${session.user.avatar}}"
                                             height="50px" width="50px"/>
                                    </div>
                                    <span class="caret"></span>
                                </th:block>
                            </th:block>
                            <li><a th:href="@{/course/myCourses}">My course</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Support</a></li>
                            <li>
                                <a href="#">Purchase History</a>
                            </li>
                            <li>
                                <a th:href="@{/user/logout}">Log out</a>
                            </li>
                        </ul>
                    </li>
                </th:block>
            </th:block>

            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
