<div class="container" th:fragment="loginForm">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <form class="form-horizontal" role="form" th:object="${user}"
                      th:action="@{/user/login}" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{email}" class="form-control" id="email"
                                   th:required="required"
                                   placeholder="Enter email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" th:field="*{password}" th:required="required"
                                   class="form-control"
                                   id="pwd"
                                   placeholder="Enter password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label class="checkbox">
                                <label><input type="checkbox"/> Remember me
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <a th:href="@{/auth/facebook}" class="col-sm-4 facebook-img">
                            <img th:src="@{https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTPe1PGmWYAum8jfgrc7BmEVP6Ue0Pjou80wsc-7e4ycgMqWBDK}"
                                 width="100" height="100"/>
                        </a>
                        <a th:href="@{/auth/google}" class="col-sm-4">
                            <img th:src="@{http://icons.iconarchive.com/icons/marcus-roberto/google-play/512/Gmail-icon.png}"
                                 width="100" height="100"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
