<div class="container" th:fragment="overview">
    <div style="display: inline; float: left">
        <a href="#">
            <img th:src="@{'/resources/image/course/' + ${course.image}}" height="240px" width="425px"/>
        </a>
    </div>
    <div style="float: left; padding-left: 50px; color: white">
        <p th:text="${course.name}">
        </p>
        <a class="#" href="#">
            Continue Lecture 2
        </a>

        <div>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span>Rate this course</span>
        </div>
        <p th:text=" ${course.numberOfLectureLearned} + ' of ' + ${course.numberOfLecture} +' items completed'"></p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 th:attr="style='width:' + ${course.numberOfLectureLearned * 100.0 / course.numberOfLecture} +'%'"
                 aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">70% Complete</span>
            </div>
        </div>

    </div>

</div>

<nav class="navbar navbar-default container" th:fragment="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Course Content</a></li>
            <li><a href="#">Q &amp; A</a></li>
            <li><a href="#">Announcements</a></li>
        </ul>
    </div>
</nav>