<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${course.name}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/2.2.3/dist/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <link rel="stylesheet" th:href="@{/resources/css/course/course.css}"/>
</head>
<body>

<section>

    <div th:include=" fragment/header :: nav-bar">

    </div>

    <th:block th:switch="${session.user}">
        <th:block th:case="null">
            <div th:include=" fragment/loginForm :: loginForm"></div>
        </th:block>
    </th:block>

</section>

<section style="padding-top: 40px; background-color: white">
    <div class="container">
        <div class="col-md-8">
            <video width="100%" height="80%" controls="">
                <source th:src="@{'/resources/video/' + ${course.sections[0].lectures[0].video}}" type="video/mp4"/>
            </video>
        </div>
        <div class="col-md-4">
            <div class="enroll">
                <p th:text=" ${course.cost != 0} ? '$' + ${course.cost} : 'FREE'"></p>
                <a th:href="@{'/enroll/'+ ${course.id}}" class="btn btn-success"
                   style="color: aliceblue; font-family: Arial">Talk this course</a>
            </div>
            <hr/>
            <div>
                <div>Lecture</div>
                <div th:text="${course.numberOfLecture}"></div>
                <p>1.5</p>
                <p>Language</p>
                <p>English</p>
            </div>
        </div>
    </div>

</section>
<hr/>
<section>
    <div class="container">
        <div class="col-md-8">
            <th:block th:with="counter=0">
                <div th:each="section, sectionStat : ${course.sections}">
                    <div class="inline" th:text="'Section ' +${sectionStat.count} + ': '">
                    </div>
                    <div class="inline" th:text="${section.name}">
                    </div>
                    <hr/>

                    <th:block th:with="counter=(${counter}  + 1)">
                        <div th:each="lecture, lectureStat : ${section.lectures}" data-role="main"
                             class="ui-content">

                            <div data-role="collapsible">
                                <h6>
                                    <div class="inline" th:text="'Lecture ' + ${counter} + ': '">
                                    </div>
                                    <div class="inline" th:text="${lecture.name}"></div>

                                    <div class="inline" th:text="${lecture.duration}"></div>
                                    <span class="glyphicon glyphicon-collapse-down inline"></span>
                                </h6>
                                <div th:text="${lecture.description}">
                                </div>
                            </div>


                        </div>
                    </th:block>
                    <hr/>
                </div>
            </th:block>

        </div>
        <div class="col-md-4">
            <p>Same courses</p>
            <div th:each="course : ${courseSameType}">
                <div class="block courseitem">
                    <div class="block_media">
                        <a th:href="@{'course/'+ ${course.id}}">
                            <img th:src="@{'/resources/image/course/' + ${course.image}}"
                                 width="255" height="160"/>
                        </a>
                    </div>
                    <div class="block_content">
                        <h4 class="block_title">
                            <a th:href="@{'/course/' + ${course.id}}">
                                <span th:text="${course.name}"></span>
                            </a>
                        </h4>
                        <div class="item-meta">
                            <div class="star-rating" style="width:170px">
                                <i class="hide" itemprop="ratingValue">

                                </i>
                                <div th:if="${course.averageRate gt 4}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <div th:if="${course.averageRate gt 3 and course.averageRate le 4}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <div th:if="${course.averageRate gt 2 and course.averageRate le 3}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <div th:if="${course.averageRate gt 1 and course.averageRate le 2}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>

                                <div th:if="${course.averageRate gt 0 and course.averageRate le 1}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>

                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>

                                <div th:if="${course.averageRate eq 0.0}">
                                    <span class=" glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>

                            </div>
                            <div class="students"><i class="icon-users"></i> 347</div>
                        </div>
                        <div class="item-instructor">
                            <img th:src="@{'/resources/image/user/' + ${course.user.avatar}}"
                                 alt="Profile Photo" width="32"
                                 height="32"/>
                            <h5 class="course_instructor">
                                <a href="#" th:text="${course.user.name}"></a>
                            </h5></div>
                        <div class="item-action"></div>
                        <div class="item_process"></div>
                        <div class="clear"></div>
                        <div class="item-credits" style="width:100%; padding-top:12px; border-top:1px solid #EEE">
                            <strong th:text=" ${course.cost != 0} ? '$' + ${course.cost} : 'FREE'"></strong>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>


    </div>
</section>
<!--<section class="container">
    <div th:each="enroll : ${course.enrollEntityList}">
        <div th:text="${enroll.userId.name}">
        </div>
        <div th:text="*{#calendars.format(enroll.rateId.createDate,'dd MMM yyyy')}">
        </div>
        <div th:text="${enroll.rateId.content}">
        </div>
        <hr/>
    </div>
</section>-->


</body>
</html>