<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<title>Online Course</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/jquery/2.2.3/dist/jquery.min.js}"/>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
<script th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}"/>
<script th:src="@{/resources/js/navOpen.js}"></script>

<body>
<section>

    <div th:include=" fragment/header :: nav-bar">

    </div>

    <th:block th:switch="${session.user}">
        <th:block th:case="null">
            <div th:include=" fragment/loginForm :: loginForm"></div>
        </th:block>
    </th:block>

</section>


<section>

    <div id="nav_tutorials" class="col-md-4" style="display: none ">
        <div class="col-md-4">
            <th:block th:each="type : ${types}">
                <a href="#" th:text="${type.name}">
                </a>
            </th:block>
        </div>
    </div>
    <div>
        <h3 style="text-align: center">
            VIEW ALL COURSES
        </h3>
        <div class="container">
            <div class="col-md-3" th:each="course : ${courses}">
                <div class="block courseitem">
                    <div class="block_media img-hover">
                        <a th:href="@{'/course/'+ ${course.id}}">
                            <img th:src="@{'/resources/image/course/' + ${course.image}}"
                                 width="100%" height="100%"/>
                        </a>
                    </div>
                    <div class="block_content">
                        <h4 class="block_title">
                            <a th:href="@{'/course/' + ${course.id}}">
                                <span th:text="${course.name}"></span>
                            </a>
                        </h4>
                        <hr/>
                        <div class="item-meta">
                            <div class="star-rating" style="width:170px">
                                <i class="hide" itemprop="ratingValue">

                                </i>
                                <div th:if="${course.averageRate gt 4}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <div th:if="${course.averageRate gt 3 and course.averageRate le 4}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <div th:if="${course.averageRate gt 2 and course.averageRate le 3}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <div th:if="${course.averageRate gt 1 and course.averageRate le 2}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>

                                <div th:if="${course.averageRate gt 0 and course.averageRate le 1}">
                                    <span class=" glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>

                                <div th:if="${course.averageRate eq 0.0}">
                                    <span class=" glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>

                            </div>
                            <div class="students">
                                <i class="glyphicon glyphicon-user"></i>
                                <i th:text="${course.numberOfEnrolled}"></i>
                            </div>
                        </div>
                        <hr/>
                        <div class="item-instructor">
                            <img class="img-circle user-image"
                                 th:src="@{'/resources/image/user/' + ${course.user.avatar}}"
                                 alt="Profile Photo" width="32"
                                 height="32"/>
                            <h5 class="course_instructor">
                                <a href="#" th:text="${course.user.name}"></a>
                            </h5></div>
                        <div class="item-action"></div>
                        <div class="item_process"></div>
                        <div class="clear"></div>
                        <div class="item-credits" style="width:100%; padding-top:12px; border-top:1px solid #EEE">
                            <strong th:text=" ${course.cost != 0} ? '$' + ${course.cost} : 'FREE'"></strong>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" th:include=" fragment/footer :: footer"></div>
</section>
</body>
</html> 