<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${course.name}">Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/2.2.3/dist/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}"/>
    <script th:src="@{/resources/js/navOpen.js}"></script>

    <script th:inline="javascript">
        function categoriesOpen(index) {
            if (getStyleValue(document.getElementById("collapse" + index), "display") == "none") {
                document.getElementById("collapse" + index).style.display = "block";
                return;
            } else if (getStyleValue(document.getElementById("collapse" + index), "display") == "block") {
                document.getElementById("collapse" + index).style.display = "none";
                return;
            }
        }

        function newDoc() {

            /*<![CDATA[*/

            var courseId = [[${course.id}]];
            var nextLectureId = [[${nextLecture.id}]];
            console.log(courseId + ' ' + nextLectureId);

            /*]]>*/

            window.location.assign("http://localhost:8080/course/learn/" + courseId + "/" + nextLectureId);
        }

        $(document).ready(function () {
            $('video').on('ended', function () {
                console.log("Ended");
                newDoc();
            });
        });


    </script>

</head>
<body>
<section>

    <div th:include=" fragment/header :: nav-bar">

    </div>

    <th:block th:switch="${session.user}">
        <th:block th:case="null">
            <div th:include=" fragment/loginForm :: loginForm"></div>
        </th:block>
    </th:block>

</section>
<section>

    <div class="container">
        <th:block th:switch="${lecture.video}">
            <div th:case="null" class="col-md-8">
                <h3 th:text="${lecture.name}"></h3>
                <div th:each="content : ${lecture.contents}">
                    <p th:text="${content.content}">
                    </p>
                    <th:block th:if="${!#strings.isEmpty(content.image)}">
                        <img th:src="@{'/image/lecture/' + ${content.image}}"/>
                    </th:block>

                </div>
            </div>

            <div th:case="*" class="col-md-8">
                <video id="video" autobuffer="" controls="" autoplay="" width="100%" height="80%">
                    <source th:src="@{'/resources/video/' + ${lecture.video}}" type="video/mp4"/>
                </video>
            </div>

        </th:block>
        <div class="col-md-4">
            <ul>
                <th:block th:each="section, sectionStat : ${course.sections}">
                    <li onclick="">
                        <a th:attr="onclick='categoriesOpen('+ ${sectionStat.count}+')'"
                           th:text="'Section ' + ${sectionStat.count} + ': ' + ${section.name}" href="#">
                        </a>
                    </li>
                    <div th:attr="id='collapse'+${sectionStat.count}" style="display: none">
                        <th:block th:each="lecture, lectureStat : ${section.lectures}">
                            <li>
                                <a th:href="@{'/course/learn/' + ${course.id}+ '/' + ${lecture.id}}"
                                   th:text="'Lecture ' + ${lectureStat.count} + ':' + ${lecture.name}"> </a>
                            </li>
                        </th:block>
                    </div>

                </th:block>
            </ul>

        </div>
    </div>

</section>

</body>
</html>