<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${course.name}">Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/2.2.3/dist/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}"/>
    <script th:src="@{/resources/js/navOpen.js}"></script>
</head>
<body>

<section>

    <div th:include=" fragment/header :: nav-bar">

    </div>

    <th:block th:switch="${session.user}">
        <th:block th:case="null">
            <div th:include=" fragment/loginForm :: loginForm"></div>
        </th:block>
    </th:block>

</section>

<section style="background-color: #333333">
    <div class="container">
        <div style="display: inline; float: left">
            <a th:href="@{'/course/learn/' + ${course.id}+ '/' + ${lecture.id}}">
                <img th:src="@{'/resources/image/course/' + ${course.image}}" height="240px" width="425px"/>
            </a>
        </div>
        <div style="float: left; padding-left: 50px; color: white">
            <p th:text="${course.name}">
            </p>
            <a th:href="@{'/course/learn/' + ${course.id}+ '/' + ${lecture.id}}"
               th:text="'Continue lecture '+ ':' + ${lecture.name}">
                Continue Lecture 2
            </a>

            <div>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span>Rate this course</span>
            </div>
            <p th:text=" ${course.numberOfLectureLearned} + ' of ' + ${course.numberOfLecture} +' items completed'"></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     th:attr="style='width:' + ${course.numberOfLectureLearned * 100.0 / course.numberOfLecture} +'%'"
                     aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>

        </div>

    </div>
</section>
<section>
    <nav class="navbar navbar-default container">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="#">Course Content</a></li>
                <li><a href="#">Q &amp; A</a></li>
                <li><a href="#">Announcements</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h3>About this course</h3>
            <div th:text="${course.description}"></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                By the numbers
            </div>
            <div class="col-md-3">
                <ul>
                    <li th:text="'Lectures: ' + ${course.numberOfLecture}">

                    </li>
                    <li th:text="${course.lengthOfCourse}">
                        Video: 15.5 hours
                    </li>
                    <li>
                        Skill levels: All Levels
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li th:text="${course.numberOfEnrolled} + ' students'">

                    </li>
                    <li>
                        Language: English
                    </li>
                    <li>
                        Closed Caption
                    </li>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div>
                <h3>Instructor</h3>
                <div class="col-md-3">
                    <img th:src="@{'/resources/image/user/' + ${course.user.avatar}}" height="140px" width="140px"/>
                </div>
                <div class="col-md-8">
                    <div th:text="${course.user.name}">
                        Teacher
                    </div>
                    <div th:text="${course.user.name}">
                        Teacher
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<section>

    <div class="container" th:include=" fragment/footer :: footer">

    </div>

</section>

</body>
</html>