<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring guru</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/2.2.3/dist/jquery.min.js}"/>
    <script th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
    <script th:src="@{webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/scroll.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/login.css}"/>
    <link rel="icon" type="image/png" th:href="@{/resources/image/favicon/favicon.png}"/>
    <script th:src="@{/resources/js/scroll.js}"></script>
    <script th:src="@{/resources/js/login.js}"></script>
    <script th:src="@{/resources/js/counter.js}"></script>
    <script>
        function init() {
            window.addEventListener('scroll', function (e) {
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 300,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                    scroll.add(header, "smaller");
                } else {
                    if (scroll.has(header, "smaller")) {
                        scroll.remove(header, "smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>
</head>
<body>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="form">
                    <ul class="tab-group">
                        <li class="tab active"><a href="#signup">Sign Up</a></li>
                        <li class="tab"><a href="#login">Log In</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="signup">
                            <h1>Sign Up for Free</h1>
                            <form action="/" method="post">
                                <div class="top-row">
                                    <div class="field-wrap">
                                        <label>First Name<span class="req">*</span></label>
                                        <input type="text" required="true" autocomplete="off" />
                                    </div>
                                    <div class="field-wrap">
                                        <label>Last Name<span class="req">*</span></label>
                                        <input type="text" required="true" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="field-wrap">
                                    <label>Email Address<span class="req">*</span></label>
                                    <input type="email" required="true" autocomplete="off"/>
                                </div>
                                <div class="field-wrap">
                                    <label>Set A Password<span class="req">*</span></label>
                                    <input type="password" required="true" autocomplete="off"/>
                                </div>
                                <button type="submit" class="button button-block">Get Started</button>
                            </form>
                        </div>
                        <div id="login">
                            <h1>Welcome Back!</h1>
                            <form class="form-horizontal" role="form" th:object="${user}"
                                  th:action="@{/user/login}" method="post">
                                <div class="field-wrap">
                                    <label>Email Address<span class="req">*</span></label>
                                    <input type="text" th:field="*{email}"  id="email"
                                           th:required="required"
                                           placeholder="Enter email"/>
                                </div>
                                <div class="field-wrap">
                                    <label>Password<span class="req">*</span></label>
                                    <input type="password" th:field="*{password}" th:required="required"
                                        id="pwd"
                                        placeholder="Enter password"/> <input type="password" required="true" autocomplete="off"/>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <label class="checkbox">
                                            <label><input type="checkbox"/> Remember me
                                            </label>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <p class="forgot"><a href="#">Forgot Password?</a></p>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a th:href="@{/auth/facebook}" class="col-sm-4 facebook-img">
                                        <img th:src="@{https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTPe1PGmWYAum8jfgrc7BmEVP6Ue0Pjou80wsc-7e4ycgMqWBDK}"
                                             width="100" height="100"/>
                                    </a>
                                    <a th:href="@{/auth/google}" class="col-sm-4">
                                        <img th:src="@{http://icons.iconarchive.com/icons/marcus-roberto/google-play/512/Gmail-icon.png}"
                                             width="100" height="100"/>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cover" style="background-image: url('/resources/image/background/man_mockup_n.jpg'); height: 100vh;">
    <header>
        <div class="container clearfix">
            <h1 id="logo">
                Spring Guru
            </h1>
            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/course/}">Course</a>
                <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
                <a href="">About</a>
            </nav>
        </div>
    </header><!-- /header -->

    <div class= "row" style="background-color: rgba(0,0,0,0.85); width: 840px; height: 420px; text-align:center; position: absolute; top: 30%;
        left: 20%; right: 50%; margin: auto;">
        <div>
            <h1 style="color: white; padding-top: 5%;">Quel cours votre vie va-t-elle prendre?</h1>
            <h2 style="color: white;">Prenez votre avenir en main en apprenant de nouvelles compétences en ligne</h2>
            <form th:action="@{/course/search}" th:method="GET">
                <input type="text" id="autocomplete" name="nameCourse"
                       placeholder="Find any course whatever you want" style="height: 60px; width: 80%"/>
                <button type="button" class="btn btn-info" style="height: 60px;">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </form>
            <div class="wrapper" style="margin-left: auto">
                <div class="counter col_fourth col-sm-3" style="display: inline">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title" id="count-number" th:attr="data-to=${numberOfStudent}"  data-speed="1500"></h2>
                    <p class="count-text ">Student</p>
                </div>

                <div class="counter col_fourth col-sm-3" style="display: inline">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h2 class="timer count-title" id="count-number" th:attr="data-to=${numberOfCourse}" data-speed="1500"></h2>
                    <p class="count-text ">Course</p>
                </div>

                <div class="counter col_fourth col-sm-3" style="display: inline">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                    <h2 class="timer count-title" id="count-number" th:attr="data-to=${numberOfLecture}" data-speed="1500"></h2>
                    <p class="count-text ">Lectures</p>
                </div>

            </div>
        </div>
    </div>

</section>

<section>
    <h1>TOP ENROLLED</h1>
    <h6 class="container">
        <hr/>
    </h6>
    <div class="container">
        <div class="col-md-3" th:each="course : ${topCourse}">
            <div class="block courseitem" style="height: 393px; width: 260px">
                <div class="block_media img-hover">
                    <a th:href="@{'course/'+ ${course.id}}">
                        <img th:src="@{'/resources/image/course/' + ${course.image}}"
                             width="100%" height="100%"/>
                    </a>
                </div>
                <div class="block_content">
                    <h4 class="block_title">
                        <a th:href="@{'/course/' + ${course.id}}">
                            <span th:text="${course.name}"></span>
                        </a>
                    </h4>
                    <hr/>
                    <div class="item-meta">
                        <div class="star-rating" style="width:170px">
                            <i class="hide" itemprop="ratingValue">

                            </i>
                            <div th:if="${course.averageRate gt 4}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 3 and course.averageRate le 4}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 2 and course.averageRate le 3}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 1 and course.averageRate le 2}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                            <div th:if="${course.averageRate gt 0 and course.averageRate le 1}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                            <div th:if="${course.averageRate eq 0.0}">
                                <span class=" glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                        </div>
                        <div class="students">
                            <i class="glyphicon glyphicon-user"></i>
                            <i th:text="${course.numberOfEnrolled}"></i>
                        </div>
                    </div>
                    <hr/>
                    <div class="item-instructor">
                        <img class="img-circle user-image1" th:if="${#strings.isEmpty(course.user.avatar)}"
                             th:src="@{/resources/image/user/anonymous.png}"
                             alt="Profile Photo" width="32"
                             height="32"/>
                        <img class="img-circle user-image2" th:if="${!#strings.isEmpty(course.user.avatar)}"
                             th:src="@{'/resources/image/user/' + ${course.user.avatar}}"
                             alt="Profile Photo" width="32"
                             height="32"/>
                        <h5 class="course_instructor">
                            <a href="#" th:text="${course.user.name}"></a>
                        </h5>
                    </div>

                    <div class="item-action"></div>
                    <div class="item_process"></div>
                    <div class="clear"></div>
                    <div class="item-credits" style="width:100%; padding-top:12px; border-top:1px solid #EEE">
                        <strong th:text=" ${course.cost != 0} ? '$' + ${course.cost} : 'FREE'"></strong>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</section>

<section>
    <h1>TOP LATEST</h1>
    <h6 class="container">
        <hr/>
    </h6>
    <div class="container">
        <div class="col-md-3" th:each="course : ${topLatest}">
            <div class="block courseitem" style="height: 393px; width: 260px">
                <div class="block_media img-hover">
                    <a th:href="@{'course/'+ ${course.id}}">
                        <img th:src="@{'/resources/image/course/' + ${course.image}}"
                             width="100%" height="100%"/>
                    </a>
                </div>
                <div class="block_content">
                    <h4 class="block_title">
                        <a th:href="@{'/course/' + ${course.id}}">
                            <span th:text="${course.name}"></span>
                        </a>
                    </h4>
                    <hr/>
                    <div class="item-meta">
                        <div class="star-rating" style="width:170px">
                            <i class="hide" itemprop="ratingValue">

                            </i>
                            <div th:if="${course.averageRate gt 4}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 3 and course.averageRate le 4}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 2 and course.averageRate le 3}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 1 and course.averageRate le 2}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                            <div th:if="${course.averageRate gt 0 and course.averageRate le 1}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                            <div th:if="${course.averageRate eq 0.0}">
                                <span class=" glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                        </div>
                        <div class="students">
                            <i class="glyphicon glyphicon-user"></i>
                            <i th:text="${course.numberOfEnrolled}"></i>
                        </div>
                    </div>
                    <hr/>
                    <div class="item-instructor">
                        <img class="img-circle user-image"
                             th:src="@{'/resources/image/user/' + ${course.user.avatar}}"
                             alt="Profile Photo" width="32"
                             height="32"/>
                        <h5 class="course_instructor">
                            <a href="#" th:text="${course.user.name}"></a>
                        </h5></div>
                    <div class="item-action"></div>
                    <div class="item_process"></div>
                    <div class="clear"></div>
                    <div class="item-credits" style="width:100%; padding-top:12px; border-top:1px solid #EEE">
                        <strong th:text=" ${course.cost != 0} ? '$' + ${course.cost} : 'FREE'"></strong>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</section>

<section>
    <h1>
        <a th:href="@{/course/}">VIEW ALL COURSES</a>
    </h1>
    <h6 class="container">
        <hr/>
    </h6>

    <div class="container">
        <div class="col-md-3" th:each="course : ${allCourse}">
            <div class="block courseitem" style="height: 393px; width: 260px; margin-top: 30px">
                <div class="block_media img-hover">
                    <a th:href="@{'course/'+ ${course.id}}">
                        <img th:src="@{'/resources/image/course/' + ${course.image}}"
                             width="100%" height="100%"/>
                    </a>
                </div>
                <div class="block_content">
                    <h4 class="block_title">
                        <a th:href="@{'/course/' + ${course.id}}">
                            <span th:text="${course.name}"></span>
                        </a>
                    </h4>
                    <hr/>
                    <div class="item-meta">
                        <div class="star-rating" style="width:170px">
                            <i class="hide" itemprop="ratingValue">

                            </i>
                            <div th:if="${course.averageRate gt 4}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 3 and course.averageRate le 4}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 2 and course.averageRate le 3}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div th:if="${course.averageRate gt 1 and course.averageRate le 2}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                            <div th:if="${course.averageRate gt 0 and course.averageRate le 1}">
                                <span class=" glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                            <div th:if="${course.averageRate eq 0.0}">
                                <span class=" glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>

                        </div>
                        <div class="students">
                            <i class="glyphicon glyphicon-user"></i>
                            <i th:text="${course.numberOfEnrolled}"></i>
                        </div>
                    </div>
                    <hr/>
                    <div class="item-instructor">
                        <img class="img-circle user-image"
                             th:src="@{'/resources/image/user/' + ${course.user.avatar}}"
                             alt="Profile Photo" width="32"
                             height="32"/>
                        <h5 class="course_instructor">
                            <a href="#" th:text="${course.user.name}"></a>
                        </h5></div>
                    <div class="item-action"></div>
                    <div class="item_process"></div>
                    <div class="clear"></div>
                    <div class="item-credits" style="width:100%; padding-top:12px; border-top:1px solid #EEE">
                        <strong th:text=" ${course.cost != 0} ? '$' + ${course.cost} : 'FREE'"></strong>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>

</section>

<section>

    <div class="container" th:include=" fragment/footer :: footer">

    </div>

</section>


</body>
</html>
